<div>
  <h1>{{ title }}</h1>
  <h2>Parte Básica Bindings</h2>
  <img [src]="foto">
  <button (click)="enviarMsg()">Enviar Alerta</button>
  <app-lista-pessoa></app-lista-pessoa>
</div>
<hr>

<app-diretivas>

  <p [ngStyle]="{'margin': 0}">Conteúdo das demais coisas</p>
  <p [style.margin]="0">E toma informação</p>

  <p class="conteudo">
    Informações que irão aparecer
  </p>

  <p class="conteudo">
     novos dados
    </p>

  <h2 class="titulo">
    ng-content
  </h2>
</app-diretivas>
<hr>

<h1>Bindings customizados</h1>
<app-inputs [menu]="desenvolvimento" (itemClicado)="valorPassado($event)"></app-inputs>
<hr>

<app-formulario></app-formulario>
<hr>

<app-injecao></app-injecao>
