<h2>Formulário</h2>

<form #cadastro="ngForm" (ngSubmit)="enviarDados(cadastro)">
  <label for="nome">Nome</label><br>
  <input type="text" id="nome" name="nome" #nome="ngModel" [(ngModel)]="contato.nome" required>
  <div [hidden]="nome.valid || nome.pristine">
    <p>O valor nome é obrigatório</p>
  </div>
  <br><br>
  <div ngModelGroup="todosContatos" #todosContatos="ngModelGroup">
    <label for="telefone">Telefone</label><br>
    <input type="text" id="telefone" name="telefone" #telefone="ngModel" [(ngModel)]="contato.telefone" required>
    <div *ngIf="telefone.invalid && telefone.dirty">
      <p>O número do telefone é obrigatório</p>
    </div>
    <br><br>

    <label for="email">E-mail</label><br>
    <input type="text" id="email" name="email" #email="ngModel" [(ngModel)]="contato.email">
    <div [hidden]="email.pristine">
      <p>O conteúdo foi mudado</p>
    </div>
    <div *ngIf="email.touched">
      <p>Clicou fora do campo</p>
    </div>
    <br><br>
  </div>
  <button type="submit" [disabled]="cadastro.form.invalid">Enviar</button>
</form>
<p>{{todosContatos}}</p>
<p>{{todosContatos.value | json}}</p>
